body {
  margin: 0;
  text-align: center;
  /* websafe fonts in css */
  font-family: "Merriweather", serif;
  /* font-size: 200%; */
}

h1 {
  font-size: 562.5%;
  color: #66bfbf;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.62rem;
  /* width: 10%; */
  /* margin: 0 auto; */
}

h2 {
  color: #66bfbf;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.skill-row {
  margin: 100px auto;
  display: inline-block;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-image {
  width: 25%;
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.computer-image {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.chess-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.chilli-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
